
*/obj/
*/.vs/
output/
CppIfcEngineTests/x64/
CppEngineTests/x64/
CsIfcEngineTests/bin/
CsEngineTests/bin/
Configurator.bin/
**/launchSettings.json
ExpressParser/x64/
ModelChecker/x64/
ToolBoxEx/x64/
