<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Configurator.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Configurator.Settings>
            <setting name="chkOnlyKernel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KernelTest_cbIncludePath_value" serializeAs="String">
                <value />
            </setting>
            <setting name="IFCTest_cbIncludePath_value" serializeAs="String">
                <value />
            </setting>
            <setting name="KernelTest_cbLibFile_value" serializeAs="String">
                <value />
            </setting>
            <setting name="IFCTest_cbLibFile_value" serializeAs="String">
                <value />
            </setting>
            <setting name="KernelTest_cbDllFile_value" serializeAs="String">
                <value />
            </setting>
            <setting name="IFCTest_cbDllFile_value" serializeAs="String">
                <value />
            </setting>
            <setting name="KernelTest_cbEngineCs_value" serializeAs="String">
                <value />
            </setting>
            <setting name="IFCTest_cbEngineCs_value" serializeAs="String">
                <value />
            </setting>
            <setting name="IFCTest_cbIfcEngineCs_value" serializeAs="String">
                <value />
            </setting>
            <setting name="KernelTest_cbIfcEngineCs_value" serializeAs="String">
                <value />
            </setting>
            <setting name="KernelTest_cbEbApi_value" serializeAs="String">
                <value />
            </setting>
            <setting name="IFCTest_cbEbApi_value" serializeAs="String">
                <value />
            </setting>
            <setting name="KernelTest_cbGeomCs_value" serializeAs="String">
                <value />
            </setting>
            <setting name="IFCTest_cbGeomCs_value" serializeAs="String">
                <value />
            </setting>
            <setting name="chkToolBoxEx" serializeAs="String">
                <value>False</value>
            </setting>
        </Configurator.Settings>
    </userSettings>
</configuration>